$topPadding: 16px;
$bottomPadding: 8px;

.Footer {
    background-position: center top -1px;
    background-repeat: no-repeat;
    background-size: 102%;
    padding-top: $topPadding;
    padding-bottom: $bottomPadding;
}