@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$primaryColor: $primary;
$secondaryColor: rgba(0, 0, 0, .1);
$shadowToDrop: drop-shadow(0 0 2px $primaryColor);

.CircularProgressbar {
  width: 100%;
  -webkit-filter: $shadowToDrop;
  filter: $shadowToDrop;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: $primaryColor;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: $secondaryColor;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: $primaryColor;
  font-size: 32px;
  font-weight: bold;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: $secondaryColor;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: $primaryColor;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
