@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.CircularProgressbar {
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: $primary;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: rgba(0, 0, 0, 0.1);
}

.CircularProgressbar .CircularProgressbar-text {
  fill: $primary;
  font-size: 32px;
  font-weight: bold;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: $primary;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
