$topPadding: 32px;
$bottomPadding: 24px;

.Footer {
    background-image: url("../assets/img/wave-footer.png");
    background-position: center top -1px;
    background-repeat: no-repeat;
    background-size: 102%;
    padding-top: $topPadding;
    padding-bottom: $bottomPadding;
}